<html>

  <head>
<style>
p.one {
    position: absolute;
    font-family: Century Gothic, sans-serif;
    color: white;
    font-size:{{a}};
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    left: {{e}};
    top: {{f}};
}
p.two {
    position: absolute;
    color: white;
    font-family: Century Gothic, sans-serif;
    font-size:{{b}};
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    right: 2px;
    top: {{f}};
}
p.three {
    position: absolute;
    bottom: {{d}};
  
    text-align: center;
    width: 100%;
  
    /*
     * Here is another way to do it if you know the width of the element
     * left: calc(50% - 12px);
     */
  
    font-family: Century Gothic, sans-serif;
    color: white;
    font-size:{{c}};
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#container {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
  p { margin: 0; }

</style>
    
    </head>
  <body>
    <div id="container">
<p class="one">{{ul}}</p><p class="two">{{ur}}</p><br>
      <p class="three">{{lower}}</p></div>
</body>
</html>
